<tr>
	<td>#{ProductID}</td>
	<td>{Title}</td>
	<td>{Price}</td>
	<td>{Material}</td>
	<td>{Count}</td>
	<td><image width="50px" src="{Image}"></td>	
	<td>{CatalogName}</td>
	<td class="order-actions text-right">
		<a href="/admin_product_edit.php?pid={ProductID}">View</a>
	</td>
</tr> 