<form action="/admin.php">
	<small>Name</small>
	<input type="text" name="name" value="{Username}"></br>
	<small>Contact</small>
	<input type="text" name="addr" value="{Address}"></br>
	<small>Total</small>
	<input type="text" name="total" value="{Count}"></br>
	<small>Amount</small>
	<input type="text" name="prc" value="{Price}"></br>
</form>